name: Go test trzsz-ssh
on: [push]
jobs:
  go-test-on-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout trzsz-ssh
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: go test
        run: go test -v -count=1 ./tssh
  go-test-on-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout trzsz-ssh
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: go test
        run: go test -v -count=1 ./tssh
  go-test-on-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout trzsz-ssh
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: go test
        run: go test -v -count=1 ./tssh
  go-release-snapshot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout trzsz-ssh
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v1"
          args: release --clean --snapshot --skip=publish
  test-win7-patch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout trzsz-ssh
        uses: actions/checkout@v4
      - name: Set up Go
        run: |
          wget -q https://github.com/thongtech/go-legacy-win7/releases/download/v1.25.2-1/go-legacy-win7-1.25.2-1.linux_amd64.tar.gz -O /tmp/go.tar.gz
          tar -C $HOME -xzf /tmp/go.tar.gz
      - name: Build trzsz-ssh
        run: |
          export GOROOT=$HOME/go-legacy-win7
          export GOPATH=$HOME/go
          export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
          which go
          go version
          go test -v -count=1 ./tssh
          GOOS=windows GOARCH=386 go build -o tssh_win7_i386/ ./cmd/tssh/
          GOOS=windows GOARCH=amd64 go build -o tssh_win7_x86_64/ ./cmd/tssh/
